#error {
   display:none;
}

.crud-table {
	background-color:#808080;
}

/* align icons */
.inner-addon { 
    position: relative; 
}
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.actionsColumn {
	width:110px;
}